<%- include("../header") %>

    <body>
        <div class="container">
            <h1 class="mb-4">Blog Articles</h1>
            <button id="new-article" class="btn btn-success" onclick="createNewArticle()">New Article</button>
            <span id="buttons">
                <a href="articles/login" class="btn btn-primary">Login</a>
                <a href="articles/signup" class="btn btn-info">Sign up</a>
            </span>
            <% articles.forEach(article=> { %>
                <div class="card mt-4">
                    <div class="card-body">
                        <h4 class="card-title">
                            <%= article.title %>
                        </h4>
                        <div class="card-subtitle text-muted mb-2">
                            <%= article.createdAt.toLocaleDateString() %>
                        </div>
                        <div class="card-text mb-2">
                            <%= article.description %>
                        </div>
                        <a href="articles/<%= article.slug %>" class="btn btn-primary">Read More</a>

                        <span class="creator" id="<%= article.creator %>">
                            <a href="articles/edit/<%= article.id %>" class="btn btn-info">Edit</a>
                            <form class="d-inline" onsubmit="(event) => event.preventDefault()">
                                <button type"submit" class="btn btn-danger" onclick="deleteArticle('/articles/<%= article.id %>')">Delete</button>
                            </form>
                        </span>
                    </div>
                </div>
            <% }) %>

        </div>
    </body>
    <script>
        const userName = sessionStorage.getItem("userName")
        var spans = document.getElementsByClassName("creator");
        for (span of spans) {
            if (span.id != userName) {
                span.innerHTML = ""
            }
        }

        async function check(response, url) {
            try {
                var data = await response.json();
                sessionStorage.removeItem("userName");
                window.cookie = "";
                alert("Please login again");
                window.location.href = "articles/login";
            } catch (error) {
                window.location.href = url
            }
        }
        /**
         * Deletes an article
         */
        async function deleteArticle(url) {
            var response = await fetch(url, { method: "DELETE" })
            await check(response, window.location.href)
        }

        async function createNewArticle() {
            var response = await fetch("/articles")
            await check(response, "/articles")
        }

        async function logout() {
            console.log("hi")
            const response = await fetch("/logout", { method: "POST" });
            const data = await response.json();
            document.cookie = "";
            sessionStorage.removeItem("userName");
            document.getElementById("buttons").innerHTML = `
            <a href="articles/login" class="btn btn-primary">Login</a>
            <a href="articles/signup" class="btn btn-info">Sign up</a>
            `;
        }

        if (document.cookie != "") {
            document.getElementById("buttons").innerHTML = `<button class="btn btn-danger" onclick="logout()">Logout</button>`;
            if (!sessionStorage.getItem("userName")) {
                const userName = document.cookie.split(" | ")[1].split("=")[1];
                document.cookie = document.cookie.split(" | ")[0];
                sessionStorage.setItem("userName", userName)
            }
        }
    </script>
